@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Dzień Dobry!</h1>
    <p>lorem isum <a href="https://docs.microsoft.com/aspnet/core">coś tam coś tam</a>.</p>
</div>
